.active-page {
  position: relative;
  color: $main-color;
}
.active-page::after {
  content: '';
  position: absolute;
  bottom: -32px;
  left: 0;
  background-color: $main-color;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.active-page-menu {
  color: $main-color;
}
