@keyframes animateModal {
  from {
    top: 20%;
    left: 37%;
    transform: scale(0.1);
  }
  to {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@keyframes moveUp {
  from {
    top: 100%;
  }
  to {
    top: 0;
  }
}
