$main-font: 'Roboto', sans-serif;
$second-font: 'Raleway', sans-serif;

$main-color: #2196f3;
$white-color: #fff;
$border-color: #ececec;
$light-border-color: #eeeeee;
$light-bg-color: #f5f4fa;
$social-icon-color: #afb1b8;
$grey-color: #757575;
$footer-bg-color: #2f303a;
$dark-text-color: #212121;
$circle-dark-color: rgba(255, 255, 255, 0.1);
$main-footer-color: rgba(255, 255, 255, 0.6);

$btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$team-card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$modal-window-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$filter-btn-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
$portfolio-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);

$main-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
$social-line: rgba(33, 33, 33, 0.2);
